* {
    padding: 0px;
    margin: 0px;
}

/* General Styles */
ul {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

ul a:hover {
    border-bottom: 1px solid black;
}

.firstlinks, .secondlinks {
    display: flex;
    gap: 1rem;
    width: max-content;
    letter-spacing: 1px;
}

.logo {
    font-size: x-large;
}

.secondlinks {
    gap: 1rem;
}

/* Desktop Layout */
@media (min-width: 1024px) {
    .logo {
        padding-left: 140px;
        width: 450px;
    }
}

/* Tablet Layout */
@media (min-width: 768px) and (max-width: 1023px) {
    ul {
        padding: 15px 20px;
    }

    .firstlinks {
        gap: 1.5rem;
    }

    .secondlinks {
        gap: 1.5rem;
    }

    .logo {
        padding-left: 50px;
        width: auto;
        font-size: large;
    }
}

/* Mobile Layout */
@media (max-width: 767px) {
    ul {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .firstlinks, .secondlinks {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        text-align: center;
    }

    .logo {
        font-size: large;
        padding: 20px 0;
    }

    ul a {
        padding: 10px 0;
        font-size: medium;
    }
}

/* Mobile Layout - Small Devices */
@media (max-width: 480px) {
    ul {
        padding: 10px;
    }

    .firstlinks, .secondlinks {
        gap: 0.5rem;
    }

    ul a {
        font-size: small;
    }

    .logo {
        font-size: medium;
    }
}


/* MAIN */
* {
    margin: 0;
    padding: 0;
}

.continer {
    display: flex;
    background-color: black;
    width: 100%;
    height: 470px;
    justify-content: space-around;
    margin: 0px 0px 10px 0px;
}

.texts {
    color: white;
    width: 300px;
    margin-top: 100px;
}

.continer button {
    padding: 10px 20px 10px 20px;
    margin-top: 40px;
    outline: none;
    border: 2px solid white;
}

.continer button:hover {
    background-color: black;
    color: white;
}

.model {
    width: 300px;
    height: 410px;
    background-image: url(https://i.pinimg.com/736x/0b/71/42/0b7142134cb634d62661a1f80837a12c.jpg);
    background-size: cover;
    margin: 30px;
    background-position: center;
}

.Brands {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: ;
}

.Brands img {
    width: 100px;
    height: 50px;
    position: sticky;
}

.catogries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 40px 40px 40px;
    gap: 20px;
    color: white;
}

.item-1 {
    width: 320px;
    height: 240px;
    background-color: black;
    display: flex;
    justify-content: end;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: large;
    box-shadow: 3px 3px 4px grey;
}

.item-1 button {
    padding: 20px 10px 20px 140px;
    display: flex;
    align-items: end;
    outline: none;
    border: none;
    background-color: rgb(0, 0, 0, 0.4);
    width: 100%;
    opacity: 0%;
    cursor: pointer;
}

.item-1 button:hover {
    opacity: 100%;
    color: white;
}

.Choose {
    background-color: black;
    width: 100%;
    height: 480px;
    margin: 50px 0px 50px 0px;
    color: white;
    font-family: serif;
    padding: 50px 0px 10px 0px;
}
.jji{
    display: flex;
    justify-content: center;
}
.contain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 220px;
}

.class{
    width: 300px;
}
.class span{
    opacity: 0%;
    ;
}
.contain img {
    width: 300px;
    height: 400px;
    border-radius: 200px 200px 0px 0px;
}
 








/* FOOTER */

footer {
    height: 100px;
}

.shoe {
    display: flex;
    justify-content: space-around;
    column-gap: 0px;
    flex-wrap: wrap;
    height: 150px;
}

.nai {
    color: rgb(0, 0, 0);
    column-gap: 4px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;
}

li {
    list-style-type: none;
}

.logic {
    font-size: xx-large;
}

.loGo {
    width: 30px;
    height: 30px;
}