* {
    padding: 0px;
    margin: 0px;
}

/* General Styles */
nav {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

ul a:hover {
    border-bottom: 1px solid black;
}

.firstlinks,
.secondlinks {
    display: flex;
    gap: 1rem;
    width: max-content;
    letter-spacing: 1px;
}

.logo {
    font-size: x-large;
}

.secondlinks {
    gap: 1rem;
}

/* Desktop Layout */
@media (min-width: 1024px) {
    .logo {
        padding-left: 140px;
        width: 450px;
    }
}

/* Tablet Layout */
@media (min-width: 768px) and (max-width: 1023px) {
    ul {
        padding: 15px 20px;
    }

    .firstlinks {
        gap: 1.5rem;
    }

    .secondlinks {
        gap: 1.5rem;
    }

    .logo {
        padding-left: 50px;
        width: auto;
        font-size: large;
    }
}

/* Mobile Layout */
@media (max-width: 767px) {
    ul {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .firstlinks,
    .secondlinks {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        text-align: center;
    }

    .logo {
        font-size: large;
        padding: 20px 0;
    }

    ul a {
        padding: 10px 0;
        font-size: medium;
    }
}

/* Mobile Layout - Small Devices */
@media (max-width: 480px) {
    ul {
        padding: 10px;
    }

    .firstlinks,
    .secondlinks {
        gap: 0.5rem;
    }

    ul a {
        font-size: small;
    }

    .logo {
        font-size: medium;
    }
}


/* MAIN */

.firstface {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.videocontainer {
    width: 25%;
}

.videocontainer video {
    width: 100%;
    height: 100%;
}

/* Main Container */
.showyourbrand {
    color: white;
    font-family: serif;
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    width: 310px;
    padding: 20px;
    animation: slideIn 1s ease forwards;
}

.showyourbrand p {
    font-size: medium;
    font-weight: 300;
}

/* Animations for text sliding */
.leftside,
.rightside,
.leftside-1,
.rightside-1 {
    display: inline-block;
    opacity: 0;
    /* Start hidden */
    position: relative;
    /* Needed for sliding */
}

/* Slide from the left */
.leftside,
.leftside-1 {
    animation: slideFromLeft 1s forwards;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100px);
        /* Slide from left */
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        /* End at normal position */
        opacity: 1;
    }
}

/* Slide from the right */
.rightside,
.rightside-1 {
    animation: slideFromRight 1s forwards;
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100px);
        /* Slide from right */
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        /* End at normal position */
        opacity: 1;
    }
}

/* Sequence animations with delays */
.leftside {
    animation-delay: 0.2s;
}

.rightside {
    animation-delay: 0.6s;
}

.leftside-1 {
    animation-delay: 1s;
}

.rightside-1 {
    animation-delay: 1.4s;
}

/* Main slide-in for the entire container */
@keyframes slideIn {
    0% {
        top: 100%;
    }

    100% {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


/* TRENDING CONTAINER */


.trendcontainer {
    width: 100%;
    background-image: ;
    background-size: contain;
    background-repeat: no-repeat;
}

.itemcontainer {
    padding: 30px;
}

.wordssign {
    margin-bottom: 28px;
    display: flex;
    text-align: center;
    background-image: url(ba263482267e239c6a745ab16b31fcc3.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.wordssign span {
    font-size: 50px;
    text-shadow: 3px 3px 5px grey;
    width: 250px;
    margin-left: 20px;
}

.adanimation {
    width: 550px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 150px;
    font-size: large;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 100px 1000px;
    padding: 0px 20px;
}

.productlayout {
    display: flex;
    justify-content: space-between;
    height: 89.70%;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.productcontainer {
    padding: 15px;
    width: 270px;
    height: auto;
    /* background-color: rgb(0, 0, 0, 0.4); */
    flex-wrap: wrap;
}

.productcontainer img {
    width: 100%;
    height: 340px;
}

.productinfo {
    margin-bottom: 5px;
    text-transform: uppercase;
}

.productprice {
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productprice button {
    padding: 10px 15px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
}

.productprice button:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
}

/* BRANDS OUTFIT VAULT */

.Brandscontainer {
    width: 100%;
    height: auto;
    display: flex;
    margin: 100px 0px;
    gap: 20px;
    justify-content: space-between;
}

.brandspic {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: auto;
    margin-left: 30px;
}

.brandspic img {
    width: 150px;
    height: 300px;
    position: relative;
    box-shadow: 3px 3px 5px 2px grey;
}

.image:nth-child(odd) {
    top: -20px;
}

.image:nth-child(even) {
    top: 0px;
    /* Even images stay at normal level */
}

.brandtext {
    width: max-content;
    text-align: center;
    background-image: linear-gradient(black, white);
    color: white;
    padding: 20px;
    flex-wrap: wrap;
}

.brandtext span {
    font-size: 30px;
    margin-bottom: 35px;
}

.brandtext p {
    font-size: large;
    width: 400px;
    margin-left: 40px;
    margin-top: 20px;
}

.brandtext button {
    position: relative;
    left: 150px;
    top: 50px;
    padding: 10px 20px 10px 20px;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
}

.brandtext button:hover {
    background-color: black;
    color: white;
}



/* ABOUT */

.About {
    display: flex;
    width: 100%;
    height: 490px;
    margin: 50px 0px 40px 0px;
    font-size: large;
    justify-content: center;
    gap: 120px;
    background-color: black;
    color: white;
}

.About img {
    height:auto;
    padding-top: 7px;
    width: 300px;
}

.US {
    width: 490px;
    padding: 40px 0px 20px 0px;
}

.About button {
    padding: 10px 20px 10px 20px;
    margin-top: 100px;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
}

.About button:hover {
    background-color: black;
    color: white;
}


/* SEAONS COLLECTIONS */


.seasons {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 50px 0px 40px 0px;
    color: white;
}

.next-img {
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 400px;
    font-family: serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.Box {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.4);
}

.Box button {
    padding: 10px 20px 10px 20px;
    outline: none;
    border: 2px solid white;
}

.Box button:hover {
    background-color: black;
    color: white;
}


/* FEED BACK SECTION */


.Feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.back {
    display: flex;
    gap: 30px;
}

.corner {
    width: 300px;
    height: 190px;
    border: 1px solid black;
    padding: 20px;
    margin: 60px 0px 60px 0px;
    box-shadow: 4px 4px 5px gray;
    background-color: grey;
    color: white;
}

.corner:hover {
    transform: translateY(-4px);
}

.corner-1 {
    background-color: white;
    color: black;
    margin-top: 65px;
}





/* FOOTER */
footer {
    height: 100px;
}

.shoe {
    display: flex;
    justify-content: space-around;
    column-gap: 0px;
    flex-wrap: wrap;
    height: 150px;
}

.nai {
    color: black;
    column-gap: 4px;
}

a {
    color: black;
    text-decoration: none;
    font-size: small;
}

li {
    list-style-type: none;
}

.logic {
    font-size: xx-large;
}

.loGo {
    width: 30px;
    height: 30px;
}